<title>P치gina Inicial</title>

<h1>Usu치rios Cadastrados: </h1>

<a href="/cadastrar"><button>Cadastrar Novo Usu치rio</button></a>

{{#each Usuarios}}

<h2>Nome Completo: {{nome}} {{sobrenome}}</h2>
<h3>Idade: {{idade}}</h3>

<a href="/deletar/{{id}}"><button>Apagar Usu치rio</button></a>
<a href="/alterar/{{id}}"><button>Atualizar Dados</button></a>
<hr>

{{/each}}

